[x-cloak] { display: none !important; }

.little-scroll{
    @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-muted-foreground/30 [&::-webkit-scrollbar-thumb]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-muted-foreground/50;
}

.leaflet-control-attribution {opacity: 0;}

/* Скрывает скроллбар, но оставляет возможность скроллить колесиком */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}